p {
  color: navy;
  margin: 20px;
  font-size: 20px;
  margin: 4px 6px;
  min-width: 200px;
  overflow: scroll; 
}

.title{
  color: Aqua;
  text-transform: uppercase;
  margin: 20px;
  font-family: cursive;
  font-size: 40;
}

body{
  background-color: teal;
}

h2{
color: purple; 
font-size: 24px;
margin: 0 auto;  
}

.byline{
text-transform: uppercase;
border-bottom: 1px solid LightGrey;
border-top: 1px solid LightGrey;
color: DarkGrey;
font-size: 14px;
font-weight: 200; 
  margin: 0 auto;  
}

.r{
color: navy;
}

.nr{
color: maroon;
}
