p {
  color: navy;
  margin: 20px;
  font-size: 20px;
  margin: 4px 6px;
  overflow: scroll; 
 font-family: 'Varela Round', sans-serif;
}


  
}

td{
text-transform: uppercase;
  color: black;
}

a{
border: 1px solid purple;
  color: purple;
  font-size: 30px;
  padding: 0px 20px;
  text-align: center;
}



h1{
  color: Aqua;
  text-transform: uppercase;
  margin: 20px;
  font-family: cursive;
  font-size: 40;
  text-align: center;
}

h2{
color: purple; 
font-size: 24px;
margin: 0 auto; 
  text-align: center;
   font-family: Oswald
}

.byline{
text-transform: uppercase;
color: DarkGrey;
font-size: 14px;
font-weight: 200; 
  margin: 0 auto; 
  text-align: center;
}

.r{
color: navy;
}

.nr{
color: maroon;
}
form{
font-size: 20px;
  font-family: Oswald
}
.TOP{
background-color: teal;
  color: purple;


}
