p {
  color: navy;
  margin: 20px;
  font-size: 20px;
  
  margin: 4px 6px;
  min-width: 200px;
  overflow: scroll; 
 font-family: 'Varela Round', sans-serif;
}

td{
text-transform: uppercase;
}

a{
border: 1px solid purple;
  color: purple;
}



.title{
  color: Aqua;
  text-transform: uppercase;
  margin: 20px;
  font-family: cursive;
  font-size: 40;
}

h2{
color: purple; 
font-size: 24px;
margin: 0 auto;  
}

.byline{
text-transform: uppercase;
color: DarkGrey;
font-size: 14px;
font-weight: 200; 
  margin: 0 auto;  
}

.r{
color: navy;
}

.nr{
color: maroon;
}
form{
font-size: 20px;
  font-family: Oswald
}
.TOP{
background-color: teal;
  color: purple;


}
